.footer{
    width: auto;
    height: 370px;
    background-color: #1A2274;
    margin-top: 50px;
    
}

.footer .line{
    width: 50px;
    height: 370px;
    background-color: #AF2223;
    background-image: url("data:image/svg+xml, %3Csvg width='40' height='124' viewBox='0 0 40 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.336 13.04L27.96 11.528C27.312 11.672 26.544 11.696 26.088 11.696C24.744 11.696 16.776 11.696 14.976 11.696C14.184 11.696 12.84 11.6 12.12 11.504V14.888C12.744 14.864 13.872 14.792 14.976 14.792C16.776 14.792 24.696 14.792 26.16 14.792C25.824 16.856 24.936 19.568 23.328 21.584C21.384 24.008 18.696 26.096 13.92 27.2L16.536 30.08C20.832 28.712 24.024 26.312 26.184 23.456C28.2 20.768 29.256 17.048 29.808 14.696C29.928 14.192 30.096 13.496 30.336 13.04ZM21.096 42.768L18.264 43.704C18.84 44.952 19.896 47.856 20.208 49.008L23.064 48.024C22.728 46.92 21.552 43.776 21.096 42.768ZM29.952 44.496L26.592 43.416C26.328 46.44 25.152 49.632 23.52 51.648C21.552 54.144 18.192 55.968 15.576 56.688L18.096 59.256C20.904 58.176 23.88 56.184 26.112 53.28C27.744 51.192 28.776 48.696 29.4 46.272C29.544 45.792 29.688 45.288 29.952 44.496ZM15.528 44.016L12.648 45.072C13.224 46.104 14.448 49.32 14.832 50.592L17.76 49.512C17.304 48.168 16.128 45.24 15.528 44.016ZM19.272 73.768L17.136 75.952C19.944 77.728 24.504 81.088 26.592 83.056L28.896 80.32C26.664 78.544 22.224 75.472 19.272 73.768ZM30.576 69.688L28.128 68.176C27.576 68.344 26.784 68.464 26.04 68.464H19.2L18.096 71.176H26.208C25.752 73.048 24.264 75.808 22.656 77.704C20.592 80.104 17.736 82.624 12.72 84.184L15.504 86.584C20.088 84.856 23.16 82.168 25.416 79.36C27.576 76.696 29.04 73.624 29.76 71.416C29.976 70.816 30.288 70.144 30.576 69.688ZM22.632 65.992L19.152 64.912C18.936 65.752 18.432 66.856 18.072 67.432C16.848 69.52 14.64 72.808 10.44 75.4L13.008 77.392C16.464 75.016 19.536 71.344 21.144 68.44C21.432 67.936 22.056 66.832 22.632 65.992ZM11.184 101.888V105.68C12.096 105.608 13.704 105.536 15.048 105.536C17.88 105.536 25.776 105.536 27.96 105.536C28.968 105.536 30.192 105.656 30.768 105.68V101.888C30.12 101.936 29.064 102.056 27.936 102.056C25.8 102.056 17.88 102.056 15.048 102.056C13.8 102.056 12.072 101.96 11.184 101.888Z' fill='%23E5D8CF'/%3E%3C/svg%3E%0A");
    background-repeat:repeat-y;
    
    margin-left: 135px;
    position: absolute;
}

.footer .socialmedias{
    width: 300px;
    height: auto;
    background-repeat:repeat-y;
    
    margin-left: 255px;
    margin-top: 40px;
    position: absolute;
}

.footer .socialmedias .socialmedia{
    margin: 20px 5px 5px 0px;
    font-size: 18px;
    font-weight:500;

    color: #E5D8CF;
}
