.projects{
    width: 1097px;
    height: 1867px;
    padding-left: 192px;
    padding-right: 192px;
    margin-top: 10px;
}

.projects .border{
    width: 1090px;
    height: 1750px;
    border: 4px solid #1A2274;
    margin: 100px 0px 10px 0px;
    position: absolute;
}

.projects .line{
    width: 50px;
    height: 1757px;
    background-color: #AF2223;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='194' viewBox='0 0 40 194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.272 17.408C27.272 16.64 27.896 16.016 28.664 16.016C29.432 16.016 30.056 16.64 30.056 17.408C30.056 18.176 29.432 18.8 28.664 18.8C27.896 18.8 27.272 18.176 27.272 17.408ZM25.784 17.408C25.784 18.992 27.08 20.288 28.664 20.288C30.248 20.288 31.544 18.992 31.544 17.408C31.544 15.824 30.248 14.528 28.664 14.528C27.08 14.528 25.784 15.824 25.784 17.408ZM28.712 19.304L26.336 17.792C25.712 17.96 24.944 17.984 24.464 17.984C23.12 17.984 15.152 17.984 13.352 17.984C12.56 17.984 11.216 17.864 10.496 17.768V21.176C11.12 21.128 12.248 21.056 13.352 21.056C15.152 21.056 23.072 21.056 24.536 21.056C24.224 23.12 23.312 25.856 21.704 27.848C19.784 30.272 17.072 32.36 12.296 33.464L14.912 36.344C19.208 34.976 22.4 32.6 24.56 29.72C26.576 27.056 27.632 23.312 28.184 20.96C28.304 20.456 28.472 19.76 28.712 19.304ZM11.024 45.984C11.048 46.68 11.048 47.64 11.048 48.336C11.048 49.728 11.048 58.608 11.048 60.048C11.048 61.2 11 63.312 11 63.432H14.288C14.288 63.312 14.264 61.296 14.264 60.144C14.264 58.728 14.264 49.104 14.264 49.104H25.88C25.88 49.104 25.88 58.752 25.88 60.144C25.88 61.464 25.808 63.336 25.808 63.432H29.144C29.12 63.336 29.096 61.032 29.096 60.096C29.096 58.632 29.096 49.8 29.096 48.336C29.096 47.592 29.096 46.728 29.144 46.008C28.256 46.032 27.368 46.032 26.768 46.032C25.04 46.032 15.296 46.032 13.544 46.032C12.896 46.032 11.984 46.008 11.024 45.984ZM27.056 59.064H12.632V62.112H27.056V59.064ZM25.496 72.592L23.48 73.408C24.368 74.656 24.896 75.688 25.616 77.2L27.68 76.288C27.152 75.184 26.168 73.6 25.496 72.592ZM28.808 71.416L26.768 72.28C27.656 73.48 28.232 74.416 29 75.928L31.064 75.016C30.488 73.96 29.552 72.376 28.808 71.416ZM15.08 72.112L13.328 74.752C14.912 75.64 17.432 77.272 18.752 78.208L20.552 75.544C19.304 74.68 16.664 72.976 15.08 72.112ZM10.64 89.152L12.44 92.32C14.552 91.936 18.008 90.736 20.432 89.344C24.368 87.088 27.752 84.04 29.984 80.728L28.136 77.464C26.216 80.896 22.88 84.184 18.8 86.464C16.184 87.904 13.304 88.696 10.64 89.152ZM11.384 77.584L9.632 80.248C11.264 81.088 13.736 82.72 15.104 83.656L16.856 80.968C15.632 80.104 12.992 78.448 11.384 77.584ZM12.704 106.016V109.016C13.232 108.968 14.096 108.944 14.624 108.944H25.592C26.144 108.944 26.864 108.968 27.464 109.016V106.016C26.888 106.088 26.192 106.136 25.592 106.136H14.624C14.096 106.136 13.232 106.088 12.704 106.016ZM18.344 118.28H21.488V107.648H18.344V118.28ZM11.504 116.504V119.648C12.128 119.576 12.872 119.552 13.472 119.552H26.72C27.152 119.552 28.04 119.576 28.544 119.648V116.504C28.04 116.576 27.392 116.648 26.72 116.648H13.472C12.848 116.648 12.104 116.6 11.504 116.504ZM29.576 132.096L27.104 130.56C26.576 130.752 25.76 130.848 25.016 130.848C24.272 130.848 19.232 130.848 18.176 130.848L17.072 133.584H25.16C24.776 135.36 23.384 138.24 21.752 140.112C19.64 142.488 16.976 144.576 12.08 146.064L14.912 148.584C19.424 146.808 22.304 144.6 24.584 141.816C26.768 139.152 28.136 135.96 28.784 133.8C28.976 133.2 29.312 132.552 29.576 132.096ZM21.752 128.28L18.224 127.128C18.008 127.968 17.504 129.072 17.144 129.648C15.968 131.712 13.856 134.808 9.656 137.376L12.344 139.368C15.8 137.016 18.656 133.632 20.288 130.728C20.552 130.224 21.176 129.12 21.752 128.28ZM15.512 172.72C15.512 173.656 15.44 175.12 15.272 176.056H19.04C18.92 175.072 18.824 173.392 18.824 172.72C18.824 170.944 18.8 161.56 18.8 158.92C18.8 157.912 18.92 156.88 19.016 156.016H15.272C15.44 156.88 15.512 158.056 15.512 158.92C15.512 160.936 15.512 170.872 15.512 172.72ZM18.104 162.232V165.688C20.72 166.552 24.752 168.088 27.488 169.504L28.832 166.168C26.48 165.016 21.296 163.12 18.104 162.232Z' fill='%23E5D8CF'/%3E%3C/svg%3E ");
    background-repeat:repeat-y;
    
    margin: 100px 0px 10px -57px;
    position: absolute;
}


.projects .sectionrect{
    width: 180px;
    height: 90px;
    background-color: #E5D8CF;
    margin: 0px 0px 10px -57px;
    position: absolute;
}

.projects .sectionrect .uppersection{
    
    color: #1A2274;
    font-size: 26px;
    font-weight: bold;

}
.projects .sectionrect .lowersection{
    width: 150px;
    height: 40px;
    font-size: 24px;
    padding-left: 5px;
    font-weight: bold;
    color: #E5D8CF;

    background-color: #1A2274;
    padding-top: 5px;
}

